@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* === client/src/index.css === */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-canvas {
  width: 90vw;
  height: 90dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
}

canvas {
  width: 90% !important;
  height: 90% !important;
  display: block;
}

